html {
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px), linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.block {
    background-image: linear-gradient( #afc1c9 8%, #384145 100%);
    margin: 70px auto;
    width: 300px;
    height: 350px;
    padding-left: 20px;
    padding-top: 40px;
    font-size: 1.3em;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .6);
    color: white;
}

input {
    background: linear-gradient(#333, #bbb);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2), 0 2px 0 rgba(255, 255, 255, .4), inset 0 2px 0 rgba(0, 0, 0, .1), inset 0 0 20px rgba(0, 0, 0, .1);
    color: white;
}

.show {
    width: 120px;
    height: 120px;
    margin-top: 40px;
    animation-name: spin;
    animation-duration: 2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}